# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
venv/
env/

# Build artifacts
dist/
build/
*.egg-info/

# C++ specific
*.slo
*.lo
*.o
*.obj
*.exe
*.out
*.app
mdread

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# OS-specific
.DS_Store
Thumbs.db
